autoflake==0.7
bitstring==3.1.5
certifi==2017.11.5
chardet==3.0.4
fuzzywuzzy==0.15.1
idna==2.6
numpy==1.13.1
olefile==0.44
opencv-python==3.3.0.10
Pillow==4.2.1
pillowfight==0.3
py==1.4.34
pyflakes==1.6.0
pypillowfight==0.2.2
pytest==3.2.2
requests==2.18.4
six==1.10.0
tesserocr==2.2.2
urllib3==1.22
yapf==0.18.0
apipkg==1.4
attrs==17.3.0
bitstring==3.1.5
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
execnet==1.5.0
fuzzywuzzy==0.15.1
idna==2.6
matplotlib==2.1.1
networkx==2.0
numpy==1.13.1
olefile==0.44
opencv-python==3.3.0.10
packaging==16.8
Pillow==5.0.0
pluggy==0.6.0
py==1.5.2
pyparsing==2.2.0
pytest==3.3.1
pytest-forked==0.2
pytest-xdist==1.20.1
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
tesserocr==2.2.2
urllib3==1.22
yapf==0.20.0
